body {
  font-family: Verdana;
  font-size: 10pt;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #f0f0f0;
  margin: 30px 30px;
}

.vertice {
  background-color: rgba(140, 208, 196, 0.85);
  border: 1px solid black;
  position: absolute;
  display: table;
}

.label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

/* .label:hover {
  background-color: rgba(210, 245, 248, 0.75);
} */

.dragHover {
  border: 1px dotted #21cfdf;
}

.selected {
  border: 1px solid #21cfdf;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
