body {
  font-family: Verdana;
  font-size: 10pt;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #f0f0f0;
  margin: 30px 30px;
}

.vertex {
  background-color: rgba(140, 208, 196, 0.85);
  border: 1px solid black;
  position: absolute;
  display: table;
}

.vertex:focus {
  border: 1px solid #21cfdf;
  outline: none;
}

.drag-hover {
  border: 1px dotted #21cfdf;
}

.label-div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.label {
  margin: 0;
  display: inline-block;
  min-width: 20px;
  min-height: 10pt;
}

.label:hover, .label:focus {
  background-color: rgba(210, 245, 248, 0.75);
  background-clip: content-box;
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
